/*Set up all the colors used in the demo as root variables for easier reference later on*/
    :root
    {
        --title-blue-dark: rgb(32, 9, 75);
        --title-blue-light: rgb(52, 99, 188);
        --search-blue: rgb(80, 152, 230);
        --day-blue: rgb(45, 62, 80);
        --solid-grey: rgb(128, 128, 128);
        --light-grey: rgb(174, 174, 174);
    
    }
/**/

/*Assigned a calculated height to the body as the whole page container to allow easier designation of portions
to each contained section*/
    body
    {
        display: flex;
        height: 100vh;
        flex-direction: column;
        font-family:Arial, Helvetica, sans-serif;
    }

    header 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;
        background-image: linear-gradient(to right, var(--title-blue-light), var(--title-blue-dark));
        color: white;
    }
/**/

/*This is where styling for the main content begins*/
    .contentContainer
    { 
        padding: 10px;
        display: flex;
        height: 90%;
    }
/**/

/*This portion of styling is designated for side bar type search function*/
    /*This portions styles the search function title and form input*/
        aside
        {
            flex-basis: 20%;
            padding: 0 10px 0 0;
        }

        form
        {
            display: flex;
            flex-direction: column;
            border-bottom: 2px solid var(--solid-grey);
        }

        input
        {
            height: 25px;
            border-radius: 5px;
            margin: 0 0 10px 0;
        }

        .searchBtn
        {
            color:white;
            border: none;
            background-color: var(--search-blue);
        }

        /*This class will allow the search history to be scrollable when the results overflow the allowable space*/
        .searchHistory
        {
            height: 70%;
            overflow-y: auto;
        }

    /*Styling for the search Histoy result buttons*/
            .savedCity
        {
            text-align: center;
            line-height: 30px;
            height: 30px;
            border-radius: 5px;
            width: 100%;
            background-color: var(--light-grey);
        }
/**/

/*This is where styling for both the search results and the 5 day for cast Begins*/
    /*Styling for the search results container*/
        main
            {
                padding: 0 10px;
                flex-basis: 80%;
            }

        .searchResults
        {
            line-height: 15px;
            padding: 0 0 0 5px;
            border: 3px solid black;
            height: 40%;
        }

        .searchResults img
        { 
            margin: 0 0 -18px -12px;
        }

        /*The following sections determine the style and color of the uvIndex display*/
        span
        {
            padding: 3px;
            border-radius: 3px;
        }

        .favorable
        {
            background-color: green;
        }
        .moderate
        {
            background-color: orange;
        }
        .severe
        {
            background-color: red;
        }
        
    /*This container styles the divisions of each forcast day container*/
        .forcast
        {
            height: 60%;
        }

        .forcast h3
        {
            line-height: 5px;
            height: 1%;
        }

        .daysContainer
        {
            display: flex;
            justify-content: space-between;
            height: 60% ;
        }

        .dayDisplay
        { 
            padding: 0px 10px 20px 10px;
            line-height: 20px;
            color: white;
            background-color: var(--day-blue);
            height: 100%;
            width: 15%;
        }

        .dayDisplay h4
        {
            margin: 10px 0px;
        }
        .dayDisplay img 
        {
            margin: -5px 0px;
        }
/**/